<!DOCTYPE html>
<html lang="en">
<head>
<title><%= @title1 %></title>
<link rel="stylesheet" href="../page.css">
</head>

<body>

<div class="menu2">
<a class="link1" href="#<%= @title1 %>"><%= @title1 %></a>
<a class="link1" href="#<%= @title2 %>"><%= @title2 %></a>
<a class="link1" href="#<%= @title3 %>"><%= @title3 %></a>
<a class="link1" href="#contact">contact us</a>
</div>

<hr class="hr" id="<%= @title1 %>">
    <div class="page2">
        <h1 class="heading2"><%= @title1 %></h1>
            <img src="<%= @image1 %>" alt="<%= @title1 %>">
                <div class="content2">
                    <%= @content1 %>
                </div>
    </div>

<hr class="hr" id="<%= @title2 %>">
    <div class="page2">
        <h1 class="heading2"><%= @title2 %></h1>
            <img src="<%= @image2 %>" alt="<%= @title2 %>">
                <div class="content2">
                    <%= @content2 %>
                </div>
    </div>

<hr class="hr" id="<%= @title3 %>">
    <div class="page2">
        <h1 class="heading2"><%= @title3 %></h1>
            <img src="<%= @image3 %>" alt="<%= @title3 %>">
                <div class="content2">
                    <%= @content3 %>
                </div>

                <hr class="hr" id="contact">
    <div class="page2">
        <h1 class="heading2">contact us</h1>
                <div class="content2">

                
                <form action="mail.php" method="POST">
                <label htmlFor="email">email</label>
                <input type="text" name="email">
                <label htmlFor="message">message</label>
                <textarea name="message" rows="6" cols="25"></textarea><br />
                <input class="link1" type="submit" value="Send">
                </form>




                </div>


</div>

</body>

</html>